.navigation-nav{

    display: flex;
    justify-content: space-around;
    
}

.list-nav{
    display: flex;
    gap: 70px;
    
    
}

.title{
    background-color: red;
    padding: 12px;
    border-radius: 20px;
    color:  white;
    box-shadow: 14px 14px 20px 0 rgba(20,20,20,0.3);
    width: 150px;
    text-align: center
}

.list-nav-li{
    box-shadow: 14px 14px 20px 0 rgba(20,20,20,0.3);
    padding: 10px;
    width: 130px;
    background-color: white;
    border-radius: 20px;
    text-align: center;  
    
}

.list-nav-li:hover {
    background-color: red;
}

.list-nav-li:hover .list-nav-li-p {
    color: white;
}

.list-nav-li-a {
    text-decoration: none;
    color: black;
    display: block;
}
  